{% extends "base.html" %}

{% load static %}

{% block content %}
		<!-- Start Hero Section -->
			<div class="hero img_backgr_sobre_nosotros">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-7">
							<div class="intro-excerpt">

							</div>
						</div>
						<div class="col-lg-5">
							<div class="hero-img-wrap">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		

		<!-- Start Why Choose Us Section -->
		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">	Porque elegirnos</h2>
						<p>Apartamentos amueblados diseñados para mentes ocupadas.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<a class="btn btn-secondary me-2" id="btn_ubicacion_sobrenosotros" href="https://acortar.link/cr4TOi" target="_blank"><span class="fa-solid fa-location-dot"></span></a>
										<!--<img src="{% static '/TempoTower/images/truck.svg' %}" alt="Image" class="imf-fluid">-->
									</div>
									<h3>Ubicacion &amp; estretegica</h3>
									<p>Estamos ubicados en un punto estrategico en la zona metropolitana.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static '/TempoTower/images/security.svg' %}" alt="Image" class="imf-fluid" style="max-width: 50px;">
										<!--<a class="btn btn-secondary me-2" id="boton_social"><span class="fa-solid fa-shield-halved"></span></a>-->
										<!--<i class="fa-solid fa-shield-halved"></i> <img src="{% static '/TempoTower/images/bag.svg' %}" alt="Image" class="imf-fluid">-->
									</div>
									<h3>Seguridad</h3>
									<p>seguridad las 24 horas del dia, control de acceso en todas las puertas.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static '/TempoTower/images/comfort.svg' %}" alt="Image" class="imf-fluid" style="max-width: 50px;">
									</div>
									<h3>Comodidad</h3>
									<p>completamente amueblado con elegantes areas sociables.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static '/TempoTower/images/edificio.svg' %}" alt="Image" class="imf-fluid" style="max-width: 50px;">
									</div>
									<h3>Nuevo concepto</h3>
									<p>somos un nuevo conecpto de apartamentos Gim y Picuzzi en el Rooftop.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{% static '/TempoTower/images/IMG-20240111-WA0004.JPG' %}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->
		<!-- End Why Choose Us Section -->

		



		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
	</body>

</html>

{% endblock %}